.login_header_wrapper {

    display: flex;
    height: 80px;
    background-color: white;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    z-index: 999;
}


.logo_container{

    height: 100%;
    width: 45%;  
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.logo_container img{

    object-fit: cover;
    height: 80%;
}

.login_header_wrapper h1{

    margin : 0;
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: normal;
    justify-content: center;
}

.login_header_wrapper hr{
    margin: 20px;
}
